# HOME WORK 1
## Complete this section and turn in before the next class

## 1. Create an empty Python list called 'a'

In [1]:
a=list()

## 2. Store all values between 1-100 with increments of 03 (w/o Numpy) in 'a'

In [3]:
a=[x for x in range(1,100,3)]
print(a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]

## 3. Create a list called 'a2' with numbers fro 2-46 with 0.5 increments

In [4]:
a2=[]
x=2
while x<=46:
    a2.append(x)
    x+=0.5
print(a2)

[2, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0]

 ## 4. Double every even integer element of list 'a' from #2 
 ##  Store the results back in 'a'.

In [5]:
for element in a:
    p=a.index(element)
    if element%2==0:
        a[p]=element*2
print(a)

[1, 8, 7, 20, 13, 32, 19, 44, 25, 56, 31, 68, 37, 80, 43, 92, 49, 104, 55, 116, 61, 128, 67, 140, 73, 152, 79, 164, 85, 176, 91, 188, 97]

## 5. Add all numbers in 'a' (except for the 2nd and the 21st element).

In [8]:
sum=0
for element in a:
    sum+=element
newsum=sum-a[1]-a[20]
print(newsum)

2332

## 6. Calculate the mean of a

In [16]:
numbers=len(a)
mean_a=sum/numbers
print(numbers)
print(mean_a)

33
72.75757575757575

# LISTS AND STRINGS:
## 7. Create an empty list called b

In [42]:
b=list()

## 8. In b store every word in the sentence as an element of its own.
### sentence:'I am so excited about Data-X. It is important to be able to work with data.'

In [43]:
for word in 'I am so excited about Data-X. It is important to be able to work with data.':
    if (word!=" " and word!="." and word!="-"):
        b+=word
print(b)

['I', 'a', 'm', 's', 'o', 'e', 'x', 'c', 'i', 't', 'e', 'd', 'a', 'b', 'o', 'u', 't', 'D', 'a', 't', 'a', 'X', 'I', 't', 'i', 's', 'i', 'm', 'p', 'o', 'r', 't', 'a', 'n', 't', 't', 'o', 'b', 'e', 'a', 'b', 'l', 'e', 't', 'o', 'w', 'o', 'r', 'k', 'w', 'i', 't', 'h', 'd', 'a', 't', 'a']

## 9. Count the occurences of the lower-case letter ’e’ in the list b.

In [49]:
b.count('e')

4

## 10. Replace every lower- or upper-case letter ’i’ in the list b with a ’1’

In [56]:
for word in b:
    if word=='i' or word=='I' :
        p=b.index(word)
        b[p]='1'
print(b)

['1', 'a', 'm', 's', 'o', 'e', 'x', 'c', '1', 't', 'e', 'd', 'a', 'b', 'o', 'u', 't', 'D', 'a', 't', 'a', 'X', '1', 't', '1', 's', '1', 'm', 'p', 'o', 'r', 't', 'a', 'n', 't', 't', 'o', 'b', 'e', 'a', 'b', 'l', 'e', 't', 'o', 'w', 'o', 'r', 'k', 'w', '1', 't', 'h', 'd', 'a', 't', 'a']

## 11. Append the string ”This is the end of the first HW” to the list b, 
## with every new word as an element of its own

In [57]:
for word in 'This is the end of the first HW':
    if word!=' ':
        if word not in b:
            b.append(word)
print(b)

['1', 'a', 'm', 's', 'o', 'e', 'x', 'c', '1', 't', 'e', 'd', 'a', 'b', 'o', 'u', 't', 'D', 'a', 't', 'a', 'X', '1', 't', '1', 's', '1', 'm', 'p', 'o', 'r', 't', 'a', 'n', 't', 't', 'o', 'b', 'e', 'a', 'b', 'l', 'e', 't', 'o', 'w', 'o', 'r', 'k', 'w', '1', 't', 'h', 'd', 'a', 't', 'a', 'T', 'i', 'f', 'H', 'W']

## 12. Print b, as ONE string backwards (starting with ”WH tsrif ...”)

In [59]:
new_string=''
for word in b:
    new_string+=word
print('WH strif '+new_string)

WH strif 1amsoexc1tedaboutDataX1t1s1mportanttobeabletoworkw1thdataTifHW



## 13. Put the following in a dictionary called 'codes':
### Keys: 1001, 1002, 1003, 1004, 1005   
### Values: 'Alpa', Beta, 'Gamma, 'Delta', 'Tau'

## then traverse the dictionary by keys and change every value to be all lower case

In [64]:
codes={'1001':'Alpa','1002':'Beta','1003':'Gamma','1004':'Delta','1005':'Tau'}
for key, value in codes.items():
    print(key,value.lower())

1001 alpa
1002 beta
1003 gamma
1004 delta
1005 tau

## 14. Set A=( 1,3,5,7,8,9) Set B=(2,5,30,10).
## Find Union of A and B.

In [65]:
A=set([1,3,5,7,8,9])
B=set([2,5,30,10])
A.union(B)

{1, 2, 3, 5, 7, 8, 9, 10, 30}